/**
 * Selectors
 */

* { /* Make footer sticked at the bottom of the page,from https://css-tricks.com/snippets/css/sticky-footer/ */
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #222222;
    color: #ffa500;
}

h1 {
    font-size: 2.6em;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 4%;
    background-color: #000000;
}

img {
    display: block;
    left: 0;
    top: 0;
}

table td {
    text-align:left;
}

a {
    color: #ffa500;
}

/**
 * Classes
 * for multiple use, generic names
 */
.center{
    text-align: center;
}

.errorMessage {
    color:red;
}

.backButton{
    margin-left: 70%;
    margin-right: fill;
}

/**
 * IDs
 * for one time use, specific names
 */
#page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px;
}

#page-wrap:after {
    content: "";
    display: block;
}

#site-footer, #page-wrap:after {
    height: 10px;
}

#welcomeMessage {
    font-size:20px;
}

#productTable {
    position:fixed;
    top:0;
    right:0;
}

#logIn form {
    text-align:center;
    padding-top:80px;
}

#logIn table{
    text-align: center;
    margin:auto;
}

#signUp, #signUp table{
    text-align: center;
    margin: auto;
}

#search_page {
    margin-left: 40%;
    margin-right: fill;
}

/**
*   Menu bar
*/

.topmenu{
    width:100%;
}

.topmenu a{
    float:left;
    padding-left:20px;
    padding-right:20px;
    width: 20%;
    font-size:35px;

}

.topmenu a:hover{
    background-color:rgba(255,165,0,0.5);
}