/**
 * Selectors
 */

* { /* Make footer sticked at the bottom of the page,from https://css-tricks.com/snippets/css/sticky-footer/ */
    margin: 0;
}

html, body {
    height: 100%;
    background-color: lightgrey;
}

h1 {
    font-size: 2.6em;
    text-align: center;
    margin-top: 7%;
}

img {
    position:absolute;
    left: 0;
    top: 0;
}

table td {
    text-align:left;
}

/**
 * Classes
 * for multiple use, generic names
 */
.center{
    text-align: center;
}

.errorMessage {
    color:red;
}

/**
 * IDs
 * for one time use, specific names
 */

#productTable {
    position:fixed;
    top:0;
    right:0;
}

#welcomeMessage {
    font-size:20px;
}

#site-footer, #page-wrap:after {
    height: 10px;
}

#signUp, #signUp table{
    text-align: center;
    margin: auto;
}

#page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px;
}
#page-wrap:after {
    content: "";
    display: block;
}

#logIn form {
    text-align:center;
    padding-top:80px;
}

#logIn table{
    text-align: center;
    margin:auto;
}